In [1]:
import mysql.connector 
import pandas as pd 
conn = mysql.connector.connect( 
host="localhost", 
user="root", 
password="2004",  # <-- Replace with your MySQL password
database="student_demo" 
) 
df = pd.read_sql("SELECT * FROM users", conn) 
print(df)

   id                  name                    email
0   1  PRATIK RAJ CHAUDHARY  pratikraj075a@gmail.com

C:\Users\prati\AppData\Local\Temp\ipykernel_13484\2823568027.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM users", conn)

In [2]:
df

   id                  name                    email
0   1  PRATIK RAJ CHAUDHARY  pratikraj075a@gmail.com